In [25]:
# Import libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [26]:
# check if data is imported accurately
flights_data = pd.read_csv('flights.csv')
flights_data.head(5)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

# Questions

In [4]:
# Question 1: How many flights were there from JFK to SLC? int

# data filtered by comparing values from columns 'origin' and 'dest' in dataframe
q_1 = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')] 

#count the number of rows that match with the criteria
filtered_data1 = len(q_1)

# print result
print(f"The number of flights from JFK to SLC is: {filtered_data1}")

The number of flights from JFK to SLC is: 2113

In [27]:
# Question 2: How many airlines fly to SLC? int

# data filtered for, destination to SLC and column 'carrier' which is airline identifier
q_2 = flights_data[flights_data['dest'] == 'SLC']['carrier'].unique()

# count the number of unique carriers
filtered_data2 = len(q_2)

# print the results
print(f"The number of unique airlines that fly to SLC are: {filtered_data2}")

The number of unique airlines that fly to SLC are: 2

In [28]:
# Question 3: What is the average arrival delay for flights to RDU? float

# filter rows where destination is RDU
# extract arr_delay column which indicates delay in arrival
# calculate the average arrival delay

q_3 = flights_data[flights_data['dest'] == 'RDU']['arr_delay'].mean()
print(f"The average arrival delay for flights to RDU is: {q_3}")

The average arrival delay for flights to RDU is: 10.052380952380952

In [29]:
# Question 4: What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float

# filter flights to SEA
sea_flights = flights_data[flights_data['dest'] == 'SEA']

nyc_to_sea = sea_flights[sea_flights['origin'].isin(['LGA', 'JFK'])].shape[0] #gives the number of rows with LGA and JFK

#calculate proportion
q_4 = nyc_to_sea/sea_flights.shape[0] * 100
print(q_4)

53.326535814427736

In [30]:
# For question 5, first, create a 'date' column.

flights_data['date'] = flights_data['year'].astype(str) + '/' + flights_data['month'].astype(str) + '/' + flights_data['day'].astype(str)

# check first few rows if 'date' column in updated.
flights_data.head(5)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,date
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0,2013/1/1
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0,2013/1/1
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0,2013/1/1
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0,2013/1/1
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0,2013/1/1

In [31]:
# Question 5: Which date has the largest average depature delay? 
# Find unique dates
unique_dates = flights_data['date'].unique()

# Dictionary to hold the average delays for each date
average_delays = {}

# Calculate the mean delay for each date
for date in unique_dates:
    # Filter the rows for the current date
    daily_flights = flights_data[flights_data['date'] == date]
    
    # Calculate the mean delay for these rows
    mean_delay = daily_flights['dep_delay'].mean()
    
    # Store the result
    average_delays[date] = mean_delay

# Now find the date with the maximum average delay
max_delay_date = max(average_delays, key=average_delays.get)
max_delay_value = average_delays[max_delay_date]

print(f"The date with the largest average departure delay is {max_delay_date} with an average delay of {max_delay_value}.")

The date with the largest average departure delay is 2013/3/8 with an average delay of 83.5369211514393.

In [32]:
# Alternate method using group.by
# group the date column and find the mean dep delay for each date
grouped = flights_data.groupby('date')['dep_delay'].mean()

# find the date with largest dep_delay
max_delay_date = grouped.idxmax()
max_delay_value = grouped.max()

print(f"The date with largest average departure delay is {max_delay_date} with an average delay of {max_delay_value}.")

The date with largest average departure delay is 2013/3/8 with an average delay of 83.5369211514393.

In [33]:
# Question 6: Which date has the largest average arrival delay?
# Find unique dates
unique_dates = flights_data['date'].unique()

# Dictionary to hold the average delays for each date
average_arr_delays = {}

# Calculate the mean delay for each date
for date in unique_dates:
    # Filter the rows for the current date
    daily_flights = flights_data[flights_data['date'] == date]
    
    # Calculate the mean delay for these rows
    mean_arr_delay = daily_flights['arr_delay'].mean()
    
    # Store the result
    average_arr_delays[date] = mean_arr_delay

# Now find the date with the maximum average arrival delay
max_arr_delay_date = max(average_arr_delays, key=average_arr_delays.get)
print(f"The date with the largest average arrival delay is {max_arr_delay_date}.")

The date with the largest average arrival delay is 2013/3/8.

In [34]:
# Alternate method: using groupby
avg_delays = flights_data.groupby('date')['arr_delay'].mean()
q_6 = avg_delays.idxmax()
print(q_6)

2013/3/8

In [35]:
# For question 7, create a new column 'speed'
flights_data['speed'] = flights_data['distance']/ flights_data['air_time']

# check if 'speed' column is added 
flights_data.head(5)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,date,speed
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0,2013/1/1,6.167401
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0,2013/1/1,6.237885
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0,2013/1/1,6.806250
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0,2013/1/1,8.612022
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0,2013/1/1,6.568966

In [36]:
# Question 7:  Which flight departing LGA or JFK in 2013 flew the fastest?

# filter dataset for flights originating only from 'LGA' and 'JFK'
# Then, filter for date 2013.
filtered_flights_data = flights_data[(flights_data['origin'].isin(['LGA', 'JFK'])) & (flights_data['date'].str.contains('2013'))]

# From,the filtered data, sort vales bases on speed
q_7 = filtered_flights_data.sort_values(by = 'speed', ascending = False).iloc[0]
print(q_7)

Unnamed: 0       216448
year               2013
month                 5
day                  25
dep_time         1709.0
dep_delay           9.0
arr_time         1923.0
arr_delay         -14.0
carrier              DL
tailnum          N666DN
flight             1499
origin              LGA
dest                ATL
air_time           65.0
distance            762
hour               17.0
minute              9.0
date          2013/5/25
speed         11.723077
Name: 216447, dtype: object

In [37]:
# For next question, check if data from weather.csv is imported correctly
weather_data_pd = pd.read_csv('weather.csv') 
weather_data_pd.head(5)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0

In [42]:
#Question 8:Replace all nans in the weather pd dataframe with 0s.

# First, get a count of all nan values 
total_nan = weather_data_pd.isna().sum().sum()
# print (total_nan) # gives result = 1180

# Replace all nans in the weather pd dataframe with 0s.
weather_data_pd.fillna(0, inplace =  True)
# Now check if all the Nan values are replaced with 0s
nan_count = weather_data_pd.isna().sum()
(nan_count) # result = 0, all columns indicates that 'zero' Nan values are present

Unnamed: 0    0
origin        0
year          0
month         0
day           0
hour          0
temp          0
dewp          0
humid         0
wind_dir      0
wind_speed    0
wind_gust     0
precip        0
pressure      0
visib         0
dtype: int64

In [44]:
# Question 9: How many observations were made in Feburary? Int
weather_data_np = weather_data_pd.to_numpy()
# For column 3, which is 'month', and february represented as 2.0
feb_obs = weather_data_np[weather_data_np[:, 3] == 2.0]

# count the number of observations made in feb
num_feb_obs = len(feb_obs)
print(f"There are {num_feb_obs} observations made in the month February")

There are 671 observations made in the month February

In [45]:
# Question 10: What was the mean for humidity in February? Float

# Extract 'humid' column values for feb rows
humid_values_feb = feb_obs[:, 8]

# calculate mean humidity for feb
q_10 = np.mean(humid_values_feb)
print(f"The mean humidity in February is: {q_10}")

The mean humidity in February is: 62.918152011922515

In [46]:
#Question 11: What was the std for humidity in February? Float

# find standard deviation for humidity values in feb
q_11 = np.std(humid_values_feb)
print(f"The standard deviation of humidity in february is: {q_11}")

The standard deviation of humidity in february is: 20.33690087674334